article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


$font: 'Old Standard TT', serif;
$text: rgba(21, 21, 21, 1);

//////////////// D E F A U L T ////////////////
//////////////////////////////////////////////

html {
	font-size: 10px;
}

body {
	// overflow: hidden;
	background: rgba(237, 224, 206, 1);
	color: $text;
	font-family: $font;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}

.wrapper {
	margin: 100px auto;
}

.inner-wrapper {
	width: 80%;
	margin: 0 auto;
}

///////////// N A V I G A T I O N /////////////
//////////////////////////////////////////////

///////////////// H E A D E R /////////////////
//////////////////////////////////////////////

header.top {
	position: relative;
	margin-bottom: 50px;
	&:after {
		content: "";
		height: 2px;
		width: 25px;
		position: absolute;
		z-index: 50;
		top: 120px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $text;
	}
}

h1.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $font;
	font-size: 4rem;
	margin: 10px 0;
}

h2.subtitle {
	margin-bottom: 0;
	font-size: 2rem;
	text-align: center;
}

/////////////////// M A I N ///////////////////
//////////////////////////////////////////////

.easter-egg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
	img {
		width: 100%;
		height: 100%;
	}
}

#easter-egg {
	display: none;
	overflow: hidden;
}

a.hidden {
	position: absolute;
	color: transparent;
	font-size: 2rem;
	right: 0;
	top: 0;
	height: 100px;
	width: 100px;
	cursor: default;
}

span.quote {
	font-size: 3rem;
	margin: 0 10px;
}

div.quote {
	text-align: center;
	font-size: 2.2rem;
	line-height: 1.4;
	margin: 0 auto 50px 0;
}



div.dino-head {
	position: relative;
	margin: 20px auto 0 auto;
	width: 7%;
	svg.dino-1, .dino-2, .dino-3 {
		width: 100%;
		min-width: 75px;
		max-width: 100px;
		position: absolute;
		transition: all and 0.4s ease-in-out;
		fill: $text;
	}
	&:hover .dino-1 {
		// transform: rotateZ(15deg);
		transform: translateX(-10px);
		fill: rgba(226, 176, 69, 1.0);
		z-index: 1;
	}
	&:hover .dino-2 {
		transform: rotate(0deg);
		z-index: 2;
	}
	&:hover .dino-3 {
		// transform: rotateZ(-15deg);
		transform: translateX(10px);
		fill: rgba(200, 0, 23, 1.0);
		z-index: 2;
	}
}



///////////////// F O O T E R /////////////////
//////////////////////////////////////////////


footer.bottom {
	margin-top: 220px;
	p {
		font-size: 1.2rem;
		text-align: center;
		a {
			color: $text;
			text-decoration: underline;
		}
	}
}