article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


// VARIABLES 

$font: 'Old Standard TT', serif;
$text: rgba(21, 21, 21, 1);
$body: rgba(237, 224, 206, 1);

//////////////// D E F A U L T ////////////////
//////////////////////////////////////////////

html {
	font-size: 10px;
}

body {
	background-color: $body;
	color: $text;
	font-family: $font;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}

.wrapper {
	margin: 100px auto 0 auto;
}

.inner-wrapper {
	width: 80%;
	margin: 0 auto;
}

///////////////// H E A D E R /////////////////
//////////////////////////////////////////////

header.top {
	position: relative;
	margin-bottom: 50px;
	&:after {
		content: "";
		height: 2px;
		width: 25px;
		position: absolute;
		z-index: 50;
		top: 100px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $text;
	}
}

h1.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $font;
	font-size: 3.2rem;
	margin: 10px 0;
}

h2.subtitle {
	margin: 0;
	font-size: 1.9rem;
	text-align: center;
}

/////////////////// M A I N ///////////////////
//////////////////////////////////////////////

.easter-egg {
	transform: translateY(-100%);
	transition: all 0.4s cubic-bezier(.93,.05,1,.27); 
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9000;
	img {
		width: 100%;
		height: 100%;
	}
}

#easter-egg {
	overflow: hidden;
}

.show {
	transform: translateY(0);
}

a.hidden {
	position: absolute;
	font-size: 2rem;
	right: 25px;
	top: 20px;
	cursor: default;
	z-index: 10;
	svg.dino-egg {
		width: 25px;
		fill: transparent;
		transition: all 0.2s ease-in-out;
	}
	&:hover svg.dino-egg {
		fill: $text;
		cursor: pointer;
	}
}

span.quote {
	font-size: 3rem;
	margin: 0 5px;
}

div.quote {
	text-align: center;
	font-size: 2.5rem;
	line-height: 1.4;
	margin: 0 auto 40px auto;
}

div.dino-head {
	position: relative;
	margin: 0 auto 0 auto;
	width: 100px;
	svg.dino-1, .dino-2, .dino-3 {
		width: 100%;
		min-width: 75px;
		// max-width: 100px;
		position: absolute;
		transition: all and 0.4s ease-in-out;
		fill: $text;
	}
	&:hover .dino-1 {
		transform: translateX(-10px);
		fill: rgba(226, 176, 69, 1.0);
		z-index: 1;
	}
	&:hover .dino-2 {
		transform: rotate(0deg);
		z-index: 2;
	}
	&:hover .dino-3 {
		transform: translateX(10px);
		fill: rgba(200, 0, 23, 1.0);
		z-index: 2;
	}
}

div.description_box {
	margin-top: 150px;
	p.description_text {
		text-align: center;
		font-size: 1.2rem;
	}
}

///////////////// R I P P L E /////////////////
//////////////////////////////////////////////

.ripple, .ripple:before, .ripple:after {
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  animation: rip 1.5s infinite;
}

.ripple {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
}

.ripple:before, .ripple:after {
  content: '';
  position: absolute;
}

.ripple:before {
	animation-delay: .2s; 
	animation-delay: .2s;
	top: 5px;
	left: 25px;
}

.ripple:after {
	animation-delay: .8s; 
	animation-delay: .8s;
	top: 25px;
	left: 0;
}

@keyframes rip {
  
  0%  {
    box-shadow: 0 100px 40px 0 transparent,
                0 0 0 0 transparent,
                0 0 0 0 transparent,
                0 0 0 0 transparent;
  }
  
  5%  {
    box-shadow: 0 0 100px 0 rgba(237, 224, 206, 1),
                0 0 0 0 rgba(255,255,255,0.4),
                0 0 0 0 rgba(237, 224, 206, 1),
                0 0 0 0 rgba(0,0,0,0.08);
  }
  
  100% {
    box-shadow: 0 0 40px 200px rgba(237, 224, 206, 1),
                0 0 10px 210px transparent,
                0 0 30px 220px rgba(237, 224, 206, 1),
                0 0 5px 230px transparent;
  }
}

///////////////// F O O T E R /////////////////
//////////////////////////////////////////////


footer.bottom {
	margin-top: 80px;
	p {
		font-size: 1.2rem;
		text-align: center;
		a {
			color: $text;
			font-style: italic;
			transition: all 0.5s ease-in;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@import 'mq';